@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    width: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #e0e0e0;
}

.card {
    position: relative;
    overflow: hidden;
    z-index: 3;
    width: 360px;
    margin: 0 20px;
    padding: 160px 30px 38px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}

.card::before {
    position: absolute;
    content: "";
    background: #ff9900;
    top: -880px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    translate: -50% 0;
}

.card .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    height: 64px;
    width: 64px;
    top: 30px;
    left: 50%;
    translate: -50% 0;
}

.card>h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 30px;
    color: #000;
}

.form {
    margin: 0 0 30px;
    display: grid;
    gap: 18px;
}

.form>input,
.form>button {
    width: 100%;
    height: 50px;
    border-radius: 28px;
}

.form>input {
    border: 2px solid #e0e0e0;
    font-family: inherit;
    font-size: 16px;
    padding: 0 20px;
    color: #000;
    transition: all 0.375s;
}

.form>input:focus {
    border: 2px solid #ff9900;
    outline: none;
}

.form>input:valid {
    border: 2px solid #ff9900;
}

.form>input::placeholder {
    color: #cac8c8;
}

.form>button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: #ff9900;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.form>button:hover {
    color: #fff;
    background: #000;
}

.signin {
    color: #7c7c7c;
}

.signin>a {
    color: #ff9900;
    transition: all 0.375s;
    text-decoration: none;
}

.signin>a:hover {
    color: #000;
}